<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <img src="https://media.gettyimages.com/photos/deepak-chahar-of-the-chennai-super-kings-celebrates-taking-the-wicket-picture-id1148629976?k=20&m=1148629976&s=612x612&w=0&h=HqrrITNZdrhIHA8uODbEZH8_hN8wMHgBAhn-kA_wOZs=" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">Chennai</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="https://media.gettyimages.com/photos/the-mumbai-indians-celebrate-after-they-defeated-the-chennai-super-picture-id1148667121?k=20&m=1148667121&s=612x612&w=0&h=Bd2XoZKQyaFIZGNhyLJTz89-u-ovYFdsHYHJivqlNrA=" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">Rajasthan</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      </div>
      
    </div>
  </div>
</body>

</html>